<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   
</head>
<body id="clrblk">
        <div class="container">   
        
                                                                        <% if (message.length > 0) { %>
                                                                                    <div class="alert alert-danger col-sm-12" style="text-align:center"><%= message %></div>
                                                                        <% } %>
</div>
</body>
</html>
                           