<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>
        .center{
            text-align: center;
        }
        .abpanel{
           min-height:60px; 
          background-color: #cacaca;
        }
        .panel1{
            min-height:700px;
            background-color:whitesmoke;
        }
         .panel2{
            min-height:700px;
            background-color:cadetblue;
        }
         .panel3{
            min-height:700px;
            background-color:whitesmoke;
        }
    </style> 
</head>
<body id="clrblk">
    <div class="col-md-12  " style=" background-color:green;">
   
        <div class="row ">     
            <div class="col-md-12 abpanel" style="background-color:white;">hh</div>
            
        </div>
        <div class="row"> 
          <div class="col-md-2 panel1" >hi</div>
        <div  class="col-md-8 panel2">hi</div>
        <div  class="col-md-2 panel3">hi</div>
    </div>
    </div>
  
        
</body>
</html>
                           